<% include ../partials/header %>
<style>
    body{
	background-image:url(https://img3.akspic.com/image/109796-grey-line-text-monochrome-pattern-1920x1080.jpg);
	font-family: "Nunito", sans-serif;
}
	.btn-info {
	  background-color:black !important;
	  border-color:gray !important;
 }
 .cont{
     background-color:#dadee6;
     margin-left:30%;
     margin-right:30%;
     padding:2%;
     margin-bottom:5%;
     border-radius:5px;
     border: 1px groove black;
 }
 .form-control{
     border: 0.5px inset lightgray;
</style>
<div class="container">
    <div class="row">
<h1 style="text-align:center; color:white"> Ask your query</h1><br>
<div class="cont">
<div style="width: 70%; margin: 15%; margin-top:5%; margin-bottom:1%;">
<form action="/cycles/<%= cycles._id %>/comments" method="POST">
    <div class="form-group">
    <input class="form-control" type="text" name="comment[author]" placeholder="Name">
    </div>
    <div class="form-group">
    <input class="form-control" type="text" name="comment[text]" placeholder="Enter your query">
    </div>
    
    <div class="form-group" style="text-align:center">
    <button class="btn btn-md btn-info">Submit</button>
    </div>
</form>
<a href="/cycles">Go back</a>
</div>

</div>
</div>
<% include ../partials/footer %>

