<% include partials/header %> 
<style>
.container{
    display: flex
}
.jumbotron{
    background-image:url(http://i.imgur.com/0thji2z.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: black 0.3em 0.3em 0.3em;
    font-family: "Nunito", sans-serif;
    padding-left:50%;
} 
.navbar-inverse {
     background-color: white;
     border-color: black;
     color: black;
}


body{
	background-image:url(https://img3.akspic.com/image/109796-grey-line-text-monochrome-pattern-1920x1080.jpg);
	font-family: "Nunito", sans-serif;
	background-repeat: no-repeat;
                background-size: cover;
}
center{
    margin-bottom:50px;
}
.about{
    overflow: hidden;
}
.aboutPara, #pr{
    margin:10%;
    margin-top:2%;
    margin-bottom:3%;
    color:white;
    align: justify;
    font-family: "Nunito", sans-serif;
    line-height: 30px;
}
#pr{
    text-align:center;
}

ul{
    margin:2%;
    margin-left:10%;
    margin-right:10%;
    color:white;
    align: justify;
    font-family: "Nunito", sans-serif;
    line-height: 30px;
}

</style>
<div class="about">
<center><h1 style="color:white" >About Us</h1></center>
<div class="row">
    <div class="container">
        <div class="jumbotron text-center col-mid-6">
            <br><br><br><br><br>
                        <h1>BUY-CYCLE</h1>
        </div>

        <div class="jumbotron text-center col-md-6">
            <h1 id="proud">We are proud to be different.</h1>
            <p>The perfect place to sell your cycle thats been in the garage forever and add a new addition to your garage :)</p>
            <a class="btn btn-success" href="/cycles/bonus" role="button">More Info</a>
        </div>
    </div>
</div>
<div>
    <p class="aboutPara">Buy-Cycle is a global online marketplace (headquartered in Vellore, and owned by AH group of companies), founded in 2017 and operating in 45 countries.
The Buy-Cylce marketplace is a platform for buying and selling services and goods mainly second hand bicycles and its accessories.
Our marketplace is used to promote the use of cycles, which is benefitial for both the user's health as well as the environment.
We empower people to upgrade their lives. Our products and services make the exchange of goods and services easy and convenient for everyone. This benefits local communities and beyond, getting one step closer to a world without waste. Our purpose is to empower people to upgrade their lives.</p>
<ul>
    <li>We are proud to be different and we work differently too.</li>
    <li>We combine the spirit and agility of a startup with the strong backing of one of the largest consumer internet groups in the world, Naspers.</li> 
<li>We are allergic to corporate interference and we love to operate in exciting markets.</li>
<li>We improvise, experiment and listen to our customers.</li>
<li>We bring together teams to collaborate in an inclusive environment where all voices are heard.</li><br><br>
<h1 id="pr"><i>" We are the Buy-Cycle Group "</i></h1>
</div>

</div>
</body>