<style>
 .faqb{
	background-image:url(https://img3.akspic.com/image/109796-grey-line-text-monochrome-pattern-1920x1080.jpg);
	font-family: "Nunito", sans-serif;
	}
	.panel-primary>.panel-heading {
    background-color: cadetblue !important;
    border-color: #337ab7;
}
 </style>
<div class="faqb">
<% include partials/header %> 
<center>
<h1 style="color:black">Frequently Asked Questions</h1> 
<br>
<div class="faq">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Can other people see my contact information?</h3>
  </div>
  <div class="panel-body">
   Your contact number can be viewed only by the people that are interested in buying your item.
  </div>
</div>
<br>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Can I ask queries on a post if I dont have an account?</h3>
  </div>
  <div class="panel-body">
    No, only people who are logged in can ask queries on posts, but you will still be able to view the queries.
  </div>
</div>
<br>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Why can't I see the details of the cycles and the contact number of the buyer?</h3>
  </div>
  <div class="panel-body">
    To view the details of the cycle, you must have an account. Please register <a href="/cycles/signup">here</a>
  </div>
</div>
<br>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Will the cycle be delivered if requested?</h3>
  </div>
  <div class="panel-body">
    No. It's a direct communication with the buyer and it's upto him
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Is there a warranty for the cycle?</h3>
  </div>
  <div class="panel-body">
    No. Buy-Cycle is not resposible for the warranty of the cycles provided.
  </div>
</div>
</div>
</center>
</div>