<!DOCTYPE html>
<html>
    <style>
    body{
          background-image:url(https://www.setaswall.com/wp-content/uploads/2017/06/Bicycle-Wallpapers-13-1920-x-1200.jpg);
    	background-repeat: no-repeat;
                background-size: cover;
    }       
    #landing-header{
        margin-top:23%;
        margin-left:10%;
        color: white;
    }
    .btn-success{
        background-color:black!important;
        border-radius: 12px;
        border-color: yellow;
    }
    }
    </style>
    <head>
        <title>Bye-Cylce</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>

    
    <div id="landing-header">
 		<h1>Welcome to Bye-Cycle!</h1>
 		<br>
		<a href="/cycles" class="btn btn-lg btn-success">Explore More</a>
    </div>
    
   

<% include partials/footer %>